@font-face {
    font-family: "SpoqaHanSansNeo-Regular";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "SpoqaHanSansNeo-Bold";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
}

:root {
    --primary: #d97652;
    --secondary: #f2e9d8;
}

html {
    font-size: 10px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.screen-x-margin {
    margin-inline: clamp(2rem, 20vw, 32rem);
}

.header {
    background-color: var(--secondary);
    height: 90rem;
    position: relative;
    z-index: -10;
}

.top-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.6rem 0;
}

.header-nav-container {
    display: flex;
    gap: 4rem;
    align-items: center;
    z-index: 10;
}

.nav-list {
    display: flex;
    gap: 3rem;
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 1.4rem;
}

.main-button {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 1.6rem;
    font-weight: 700;
    letter-spacing: 0;
    line-height: 100%;
    color: white;
    background-color: var(--primary);
    padding: 1.6rem 3rem;
    border-radius: 4rem;
}

.header-content-container {
    display: flex;
    justify-content: space-between;
}

.description-container {
    margin-top: 20rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4rem;
    flex: 1;
    min-width: 0;
}

.header-title {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 4.8rem;
    line-height: 140%;
}

.description {
    font-family: SpoqaHanSansNeo-Regular;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.box-cat {
    margin-top: 3.2rem;
}

.main {
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    z-index: 20;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 11rem;
}

.main-image {
    aspect-ratio: 66/39;
    min-width: 0;
    width: 50%;
    height: auto;
    object-fit: cover;
}

.image-border {
    border-radius: 3rem;
    box-shadow: 1rem 1rem 3rem 0 #00000040;
}

.hodu-info-container {
    flex: 1;
    min-width: 0;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3rem;
}

.hodu-info-title {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 3.6rem;
    line-height: 140%;
}

.section-title {
    margin-top: 12rem;
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 4.8rem;
    color: var(--primary);
    text-align: center;
}

.section-description {
    margin-top: 4rem;
    text-align: center;
}

.image-list {
    margin-top: 8rem;
    flex: 1;
    min-width: 0;
    display: flex;
    justify-content: center;
    gap: 7.2rem;
}

.sub-image {
    aspect-ratio: 1/1;
    width: 100%;
    height: auto;
    flex: 1;
}

.learn-container {
    display: flex;
    justify-content: center;
    margin-top: 9rem;
    gap: 5.2rem;
}

.subscribe-article {
    margin-top: 9rem;
    background-color: #263140;
    border-radius: 3rem;
    padding: 5rem 5.8rem;
    color: white;
    z-index: 20;
}

.subscribe-info-container {
    display: flex;
    flex-direction: column;
    gap: 1.8rem;
}

.subscribe-title {
    font-family: SpoqaHanSansNeo-Bold;
    font-size: 3.6rem;
}

.bottom-image {
    width: 100%;
    height: 34rem;
    object-fit: cover;
    margin-top: -10rem;
    z-index: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 4.6rem 0;
}

.contents-list {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.contents-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
    background-color: #f29d52;
}

@media (max-width: 1200px) {
    .box-cat {
        display: none;
    }
}
